@use '../helper' as *;

html,
body {
	@include body-text;
	background-color: var(--color-bg);
	scroll-behavior: smooth;
	min-height: 100vh;
	overflow-x: hidden;
	text-rendering: optimizespeed;
}

:disabled {
	cursor: not-allowed;
}

// a:focus-visible {
// 	outline: 2px solid var(--color-accent);
// 	outline-offset: 2px;
// }

// button:focus-visible {
// 	outline: 2px solid var(--color-accent);
// 	outline-offset: 2px;
// }`
