/* Reset and base styles  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

::before,
::after {
	box-sizing: inherit;
}

/* Links */

:where(a, a:link, a:visited, a:hover) {
	color: inherit;
	font: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/* Common */

:where(aside, nav, footer, header, section, main) {
	display: block;
}

:where(h1, h2, h3, h4, h5, h6, p) {
	font: inherit;
}

:where(ul, ul li) {
	list-style: none;
}

:where(img) {
	vertical-align: top;
}

:where(img, svg, picture) {
	max-width: 100%;
	height: auto;
}

:where(svg *) {
	transition-property: fill, stroke;
}

:where(address) {
	font-style: normal;
}

:where(table) {
	border-color: currentcolor;
	border-collapse: collapse;
}

/* Form */

:where(textarea, input[type='file']) {
	max-width: 100%;
}

:where(label) {
	cursor: pointer;
}

:where(legend) {
	display: block;
}

:where(input, textarea, button, select) {
	color: inherit;
	font: inherit;
	background-color: transparent;
}

:where(button) {
	display: inline-block;
	background: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

// input:focus,
// input:active,
// button:focus,
// button:active,
// textarea:focus {
// 	outline: none;
// }

input::-ms-clear {
	display: none;
}

// button::-moz-focus-inner {
// 	padding: 0;
// 	border: 0;
// }

/* Disable animation */

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}
